#section-sirius {
/*  background-image: linear-gradient(to bottom, #e9ecefe3 0%, #110e40c2 60%), url('../img/bg-sirius.jpg');*/
/*    background-image: url('../img/bg-sirius.jpg');*/
   background-image: linear-gradient(to bottom, #1c3196e3 0%, #11072feb 60%), url(../img/bg-sirius.jpg);
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
        background-attachment: fixed
}

/*
#box-sirius-titulos span{
      font-size: 40px;
    font-family: 'proxima-nova-black';
}
#box-sirius-titulos span:first-child{
   color: #FFF;
}

#box-sirius-titulos span:last-child{
   color: #b3afef;
}

#box-sirius-titulos p{
    line-height: 0.1; letter-spacing: 1px;
    color:#FFF;
}

#box-conteudo-centro{
    margin-top: 7%;background: #e9ecef87;
}

#box-conteudo-centro h3{
    font-size: 2.5rem; 
    text-transform: uppercase;
    color: #211e52;
    font-weight: 600
}

#box-conteudo-centro hr{
   background: #d0cef1;height: 1px; 
}

#box-conteudo-centro p{
    color: #1b2025;
}

#redes-socias-sirius{
    background: #211e52;
    position: absolute;
    bottom: 0;
}

#redes-socias-sirius nav span{
    font-size: 1rem;
    line-height: 35px; color:#FFF
}

#redes-socias-sirius nav a{
    color:#FFF; font-size: 1.5rem;
}
*/




#box-paragrafos-sirius p{
    margin: 0;
    line-height: 1.2;
    font-style: italic;
    font-size: 1.5rem;
  color:#FFF;
}

#section-sirius  hr{
    border-top: 10px solid #c9e265;
}